<app-header></app-header>
<app-base></app-base>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6"></div>

    <div
      class="relative flex max-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-8 sm:py-16 md:py-24 lg:py-32 xl:py-40"
    >
      <div class="relative py-10 sm:w-96 max-auto text-center text-2xl">
        <span class="text-2xl font-light"> Login to your account </span>
        <div class="mt-15 bg-white shadow-md rounded-lg text-left">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="px-5 py-16">
            <label class="block font-semibold"> User Name </label>
            <input
              type="text"
              placeholder="user name"
              class="border-4 bg-blend-color text-base"
            />

            <label class="block font-semibold"> password </label>

            <input
              type="password"
              placeholder="password"
              class="border-4 bg-blend-color"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <mat-slider min="1" max="10" step="1" value="50"></mat-slider> -->
